/* Het font van de pagina aanpassen, een grootte geven en wit maken. Daaronder het achtergrond plaatje een vaste positie geven op de pagina */
html
{
  font-family: "georgia";
	font-size: 1.2em;
  color: white;
  background-image: url("../img/background.png");
  background-position: top center;
}

/* Stijlen van de navigatiebalk in de header */
/* Dit zorgt ervoor dat alle lijst elementen de bulletpoint verliezen */
li{
  list-style: none;
}

/* Dit zorgt ervoor dat de navigatie knoppen in de header naast elkaar komen te staan in plaats van onder elkaar */
.mainnav ul{
  display: flex;
  flex-flow: row;
  width: auto;
  margin-top: auto;
}

/* Dit zorgt ervoor dat de navigatie knoppen in de header een box eromheen krijgen met een roze achtergrond kleur en een goede afstand nemen van elkaar  */
.mainnav ul li{
  flex-grow: 1;
  display: flex;
  list-style: none;
  padding: 0.5em;
  margin: 0.4em;
  margin-top: 40px;
  justify-content: center;
  border-radius: 0.4em;
  background-color: #E40251;
}

/* Dit zorgt ervoor dat de navigatie knoppen (wat eigenlijk links zijn) worden opgemaakt zodat ze er niet uit zien als links
    Zo wordt de underline weggehaald en is de kleur van de text wit gemaakt in plaats van blauw */
a{
  display: block;
  text-decoration: none;
  color: white;
}

/* Dit zorgt ervoor dat een knop van kleur verandert als er met de muis overheen wordt bewogen */
nav ul li:hover{
  background-color: #FF6666;
}

/* Dit zorgt ervoor dat een knop van kleur verandert als er met de muis op wordt geklikt */
nav li a:active {
	background-color: #FF0033;
}

/* Het stijlen van de tabbladen op de pagina Word Lid hetzelfde als de navigatiebalk in de header */
.tabs li{
  padding: 1em;
  margin: 0.5em;
  background-color: #E40251;
  height:
}

/* Stijlen van de main */
/* Dit zorgt ervoor dat de main in een flexbox wordt gestopt en netjes wordt uitgelijnd over de lengte van het scherm */
.mainflex{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

/* Dit is opmaak van de tabel */
table{
  margin-left: 50px;
  width: 30%;
}

/* Dit zorgt ervoor dat het font in de header van de tabel groter wordt */
th{
  font-size: 1.5em;
}

/* Dit zorgt ervoor dat de table data (de normale cellen) een border krijgen en allemaal dezelfde hoogte hebben met de tekst gecentreerd */
td{
  border: 1px solid white;
  height: 50px;
  text-align: center;
}
/* Dit zorgt ervoor dat de div met de woorden Lid worden? netjes in het midden wordt uigelijnd */
.lid{
  font-size: 1.5em;
  text-align: center;
}

/* Dit zorgt ervoor dat de fotos met de wijzende man en de foto's op de Word lid pagina's maximaal 475 pixels hoog is */
.fotos{
  max-height: 475px;
}

/* Dit zorgt ervoor dat de tekst paragrafen in de pagina's die vallen onder de world lid pagina netjes worden gelimit in het midden van de pagina */
.tab-folder{
  max-width: 30%;
}

/* Drie stukjes css voor de fotoslider */
/* Dit stukje css is een slide animatie. Hiermee geef je aan dat je iets (in dit geval een plaatje) naar links wil laten verschuiven.
  Op 0% van de animatie staat het plaatje op 0% op de pagina, dan op 25% van de animatie moet het plaatje op -115% staan, etc.
  De keyframe animeert een slide beweging om deze values te bereiken */
@keyframes slider {
  0% {
  	left: 0%;
  }

  25%{
    left: -115%
  }

  50% {
  	left: -230%;
  }

  75% {
  	left: -345%;
  }

  100% {
  	left: 0%;
  }
}

/* Dit zorgt ervoor dat de div van de fotoslider de juiste plek heeft op de site en de juiste afmetingen heeft. */
.fotoslider {
	overflow: hidden; /* Overflow hidden zorgt ervoor dat de fotos die buiten de fotoslider vallen niet worden weergegeven */
	height: 475px;
	width: 900px;
	margin-top: 35px;
}

/* Dit zorgt ervoor dat de fotos in de fotoslider worden gezet en de fotoslider laat sliden. */
.fotoslider figure {
	position: relative;
	width: 500%;
	margin: 0;
	animation: 32s slider infinite; /* Dit roept de keyframes slider aan en zorgt dat de animatie van 32 seconden oneindig lang blijft loopen*/
}

/* Dit zorgt ervoor dat de logo's van het imperiumtheater boven- en onderaan de pagina netjes worden geplaatst en gescaled */
.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  width: 150px;
  height: auto;
}

/* Dit is om het logo rechtsonderin de pagina goed te schalen en dezelfde grootte te geven als het logo bovenin */
.footerlogo{
  width: 150px;
  height: auto;
}

/* Het stijlen van de footer van elke pagina */
/* Dit zorgt voor een net horizontaal scheidingslijntje boven de footer */
footer{
  margin-top: 50px;
  border-top: 1px solid white;
}

/* Dit zorgt ervoor dat de footer in een flexbox wordt gestopt en netjes wordt uitgelijnd over de lengte van het scherm */
.footerflex{
  display: flex;
  padding-top: 25px;
  justify-content: space-around;
}

/* Dit zorgt ervoor dat de social media icoontjes netjes plaats krijgen naast elkaar onder de tekst 'Volg Ons!' */
.footerflex > .icoontjes{
  display: flex;
  flex-wrap: wrap;
  width: 100px;
}

/* Dit zorgt ervoor dat de social media icoontjes dezelfde grootte krijgen */
.facebook, .twitter
{
	width: 50px;
	height: auto;
}

/* Hieronder komt de css voor het formulier */
/* Dit zorgt voor de styling van de knop om het inschrijfformulier te openen */
#formBtn{
  font-size: 1.3em;
  background-color: transparent; /* Verwijdert achtergrondkleur */
  border-color: white; /* Maakt de rand wit */
  color: white; /* Tekst in de button moet wit zijn om leesbaar te zijn tegen de achtergrond */
  cursor: pointer; /* Dit zorgt ervoor dat je cursor van de muis in een handje verandert als je eroverheen gaat */
}

/* De css code om de div van het formulier te plaatsen en te verstoppen */
.formulier {
  display: none; /* Dit zorgt ervoor dat het formulier hidden is */
  position: fixed; /* Dit zorgt ervoor dat het formulier in het midden van het scherm zit */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Dit is om door het formulier te kunnen scrollen */
  color: black; /* Dit is om het lettertype in het formulier zwart te maken. (In de rest van de html is het wit) */
}

/* Dit zorgt ervoor dat de inhoud van het inschrijfformulier een beetje afstand krijgt van de randen en een achtergrondkleur krijgt*/
.formContent {
  background-color: #C0C0C0;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid black;
  width: 40%; /* Dit is om de breedte van het formulier te verkleinen */
}

/* Om de titels in het formulier het juiste formaat te geven */
h2{
  font-size: 1.5em;
}


/* Dit zorgt ervoor dat het kruisje om het formulier te sluiten wat groter wordt en in de hoek komt */
.sluitknop {
  float: right;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer; /* Dit zorgt ervoor dat je cursor van de muis in een handje verandert als je eroverheen gaat */
}

/* Dit zorgt ervoor dat de inhoud van de tabbladen hidden is */
.tab-content {
    display: none;
}

/* En dit zorgt ervoor dat de inhoud van het geselecteerde tabblad niet hidden is */
.tab-content:target {
    display: block;
}

/* Een klein stukje hardcode omdat het flexibel niet lukte;
  Tab 5 met contact heeft weinig tekst waardoor de div zichzelf verkleint, hierdoor verspringen de tabbladen een klein stukje, dit is niet netjes.
  Door dit stukje code forceert de div van deze tab zichzelf even breed als de divs met veel tekst, zodat de tabbladen niet verspringen */
#tab5{
  width: 595px;
}
